<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="shortcut icon" href="./public/favicon.ico" type="image/x-icon">
</head>
<body>
  <h1 onclick="window.showMsg()">webpack study</h1>
  <button id="btn">
    什么是 weback?
  </button>
  <img src="<%= require('../src/assets/icon/eye.png') %>" alt="#"/>
  <p class="web-font">验证字体文件4</p>
</body>
</html>